@font-face {

	font-family: 'OpenSans';
	src: url('Open_Sans/OpenSans-Regular.ttf');

}

body {

	background-color: #2b2424;
	font-family: 'OpenSans';

}

.minimalButton {

	background-color: #ff003c;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;

}

.minimalButton:hover {

	background-color: #990024;

}

.minimalDiv {

	align-content: center;
	background-color: red;
	border: 5px solid white;
	border-radius: 10px;
	display: inline-block;
	padding: 20px 20px;
	width: 500px;

}

.minimalList {

	border: 5px solid white; 
	border-radius: 10px;
	display: block;
	list-style-type: none;
	margin: 10px auto;
	padding: 20px 20px;
	text-align: center;
	width: auto;
	
}